body{

position: relative;

background-image:url("Background_MSWorkarea.jpg");

background-size:cover;
}


#MyNavbar{

width: window;

height: 50px;

background-color: #EFEFEF; 
}



#logout{

float: right;

margin-right: 20px;


}

.navbarbtn{

margin-top: 1px;

}


.every_input_and_button{

width: 300px;

}

.every_input_and_button_dropdown{

width: 200px;

color:  #9F9F9F;

background-color: white;

border-color: #BFBFBF;

}

.create_area{

float: left;

width: 400px;


}

.change_delete_area{

float: right;

width: 400px;

margin-top: -30px;
}



.modal-body{

height: 450px;

width: 1000px;
}


.modal-dialog{

height: 450px;

width: 1000px;


}







































